rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Règles pour la collection 'gallery'
    match /gallery/{imageId} {
      // Lecture autorisée à tous
      allow read: if true;
      
      // Écriture réservée aux administrateurs authentifiés
      allow create, update, delete: if request.auth != null && 
        request.auth.token.admin == true;
    }
    
    // Règles pour la collection 'videos'
    match /videos/{videoId} {
      // Lecture autorisée à tous
      allow read: if true;
      
      // Écriture réservée aux administrateurs authentifiés
      allow create, update, delete: if request.auth != null && 
        request.auth.token.admin == true;
    }
    
    // Règles pour la collection 'settings'
    match /settings/{document=**} {
      // Lecture autorisée à tous
      allow read: if true;
      
      // Écriture réservée aux administrateurs authentifiés
      allow write: if request.auth != null && 
        request.auth.token.admin == true;
    }
  }
}
